/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
  margin-top: 100px;

/* The perspective property in CSS is used to create a three-dimensional (3D) effect on an element,
  and its child elements. It determines the distance between the viewer (the person looking at the page) 
  and the 3D objects displayed on the page. */
/* A smaller value for the perspective property creates a stronger 3D effect, making objects appear closer to the viewer.
   A larger value creates a weaker 3D effect, making objects appear farther away. */
    /* Here we will set the value to 1000px */
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  /* The CSS property transform-style: preserve-3d; specifies that the child elements of an element,
   should be rendered in a 3D space,  */
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
/* the back face of the element should be hidden, and only the front face will be visible. */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}